html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: black;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.channels {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 80%;
  grid-gap: 48px;
  padding: 128px 0;
  justify-content: space-around;
}

@media (max-width: 920px) {
  .channels {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .channels {
    grid-template-columns: repeat(2, 1fr);
  }
}

.channel {
  max-width: 40rem;
}

.channel > div {
  justify-content: center !important;
}

#play-icon {
  width: 100%;
  height: auto !important;
}
