html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: black;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Channels {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 960px;
  grid-gap: 48px;
  padding-top: 128px;
}

@media (max-width: 920px) {
  .Channels {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 48px;
  }
}

@media (max-width: 720px) {
  .Channels {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 48px;
  }
}